<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Crear Publicación</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <div class="banner">
            <h1>Crear Publicación</h1>
        </div>

        <!-- Navegación -->
        <nav class="navbar">
            <ul>
                <li><a th:href="@{/}">Publicaciones</a></li>
                <li><a th:href="@{/misPub}">Mis Publicaciones</a></li>
                <li><a th:href="@{/crear}">Crear Publicación</a></li>
                <li><a th:href="@{/miPerfil}">Mi Perfil</a></li>
                <li><a th:href="@{/logout}">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="content">
            <p>Aquí irá la creación de las publicaciones.</p>
        </div>
    </main>
</body>
</html>
